/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #100B00;
  font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#content {
  text-align: center;
}

h1, h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: justify;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nav-dropdown {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
}

.nav-droplink {
  display: block;
  font-size: 1.125rem;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #eee;
}

.nav-droplink:hover, .navbar-item:hover {
  color: #EB9486;
}

.nav-droplink::after {
  content: '\f107';
  font-family: FontAwesome;
  margin: 0 5px;
  color: #EB9486;
  font-weight: 700;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.navbar-item {
  padding: 5px 12px;
  display: block;
  background-color: #fff;
}

.dropdown-menu.is-visible {
  max-height: 500%;
}

.mobile-wrapper {
  width: 350px;
  height: 560px;
  box-sizing: content-box;
  padding: 40px 15px;
  border: 2px solid #b1b2b1;
  border-radius: 25px;
}

.mobile-example {
  width: 350px;
  height: 560px;
  background-color: rgb(123, 84, 84);
  position: relative;
  overflow: hidden;
}

.mobile-content {
  position: absolute;
  width: 85%;
  height: 100%;
  left: 15%;
  background-color: #fff;
  padding: 1rem 1rem 0 1rem;
  overflow: auto;
  transition: left 0.4s ease-in-out;
}

.mobile-content.is-pushed {
  left: 80%;
}

.mobile-content figure {
  width: 100%;
  height: auto;
}

figure img {
  display: block;
  width: 100%;
  border-radius: 100%;
}

.menu {
  width: 80%;
  height: 100%;
  background-color: #EB9486;
  position: absolute;
  left: -65%;
  transition: left 0.4s ease-in-out;
}

.menu.is-visible {
  left: 0;
}

.menu .burger {
  display: inline-block;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 3.25rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.menu-items {
  padding-top: 50%;
}

.menu-item {
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}

.menu-item:hover {
  text-decoration: underline;
}

.slides-frame-container {
  width: 256px;
  height: auto;
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
}

.slides-wrapper.shifting {
  transition: transform 0.3s ease-in-out;
}